<% title(@customer.name,"Customer") %>
<h2><%= @customer.name %></h2>
<%= link_to "Edit Customer", edit_customer_path(@customer) %> | 
<%= link_to "Delete Customer",
customer_path(@customer),
:method => :delete,
:confirm => "Are you sure you want to delete this project?" %>
<%= link_to "New Ticket", new_customer_ticket_path(@customer) %>
<ul id='tickets'>
 <% @customer.tickets.each do |ticket| %>
  <li>
   #<%= ticket.id %> -
   <%= link_to ticket.title, [@customer, ticket] %>
  </li>
 <% end %>
</ul>
